<!-- Sección de Imagen Principal (Hero) -->
<div class="hero-section d-flex justify-content-center align-items-center text-center text-white">
    <div>
      <h1 class="display-3 mb-3">Bienvenido a Huertos Urbanos</h1>
      <p class="lead mb-4">Descubre dónde encontrar o publicar alimentos orgánicos en la ciudad y forma parte de nuestra comunidad sostenible.</p>
      <a routerLink="/register" class="btn btn-primary btn-lg">Registrarse</a>
    </div>
  </div>
  
  <!-- Sección 1: Transformar tu espacio -->
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2 class="display-4">Encuentra productos</h2>
        <p class="lead">Accede fácilmente a una variedad de productos frescos y 100% orgánicos disponibles en tu área. Descubre huertos urbanos cercanos donde puedes comprar alimentos cultivados de manera sostenible y saludable.</p>
      </div>
      <div class="col-md-6">
        <img src="cesta-verduras.jpg" alt="Encuentra productos" class="img-fluid rounded shadow">
      </div>
    </div>
  </div>
  
  <!-- Sección 2: Aprende y Comparte -->
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-md-6 order-md-2">
        <h2 class="display-4">Publica tus huertos</h2>
        <p class="lead">Si tienes un huerto urbano y deseas compartir tus productos con otros, ¡publica tu huerto aquí! Conéctate con personas interesadas en alimentos frescos y orgánicos, y contribuye al crecimiento de una red de cultivo urbano.</p>
      </div>
      <div class="col-md-6">
        <img src="tuhuerto.jpg" alt="Publica tus huertos" class="img-fluid rounded shadow">
      </div>
    </div>
  </div>
  
  <!-- Sección 3: Beneficios para ti y el planeta -->
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2 class="display-4">Beneficios para ti y el planeta</h2>
        <p class="lead">Al unirte a la práctica de cultivar y consumir productos orgánicos, estás ayudando a reducir la huella ecológica. Promueve la sostenibilidad, cuida la biodiversidad y apoya un futuro más verde para las generaciones venideras. Cada huerto urbano es un paso hacia un entorno más limpio y saludable.</p>
      </div>
      <div class="col-md-6">
        <img src="beneficios.jpg" alt="Beneficios para ti y el planeta" class="img-fluid rounded shadow">
      </div>
    </div>
  </div>
  